@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Sofia+Sans+Semi+Condensed:wght@700&family=Tinos&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,
li {
    list-style: none;
}


.navbar1 {
    margin-top: 20px;
}

.navbar_list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar_list li {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
}

.moto {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #2F3035;
}

.fa-gauge-high {
    font-size: 50px;
    margin-left: 30px;
}

.dot {
    display: flex;
    margin-top: 40px;
}

.circle {
    margin-top: 50px;
}

.fa-location-dot {
    font-size: 22px;
}

.dot p {
    padding-top: 10px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
}

.fa-heart {
    font-size: 25px;
}

.fa-cart-shopping {
    font-size: 25px;
}

.fa-user {
    font-size: 25px;
}



/* ------------------------- Navbar end --------------------- */


.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list li {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    text-transform: capitalize;
    color: #2F3035;
    margin-top: 15px;
    padding: 10px 20px;
}


.header_list li span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #2F3035;
}

.header {
    margin-top: 50px;
}


/* --------------- Header end -------------------- */


.section_one {
    margin-top: 50px;
}

.card div button {
    padding: 5px 50px;
    background-color: #1C62CD;
    border: none;
    font-family: 'Proxima Nova';
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card div {
    display: flex;
}

.card div p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #1C62CD;
    margin-left: 150px;
}

.card span {
    margin-top: 10px;
    margin-left: 330px;
    border: 0.5px solid #C4C4C4;
    transform: rotate(-5.33deg);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.card img {
    margin-left: 100px;
    width: 30%;
}

.card h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.card h3 {
    margin-top: 20px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.card h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #1C62CD;
}

/* ------------- section_one end -------------------- */



.same_list {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.same_list li {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
}

.same_list li span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    padding: 5px 10px;
    background: #F0F0F4;
    border-radius: 5px;
}

.input_text button {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #1C62CD;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
}

.input_text {
    padding-top: 50px;
}

.cards {
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    margin-top: 20px;
}

.cards img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 250px;
}

.cards h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #2F3035;
}


.cards p {
    margin-left: 20px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #C4C4C4;
}

.cards span {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #1C62CD;
}

.section_four {
    margin-top: 100px;
}

.tovar {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
}



.four_list {
    display: flex;
    gap: 100px;
}

.four_list li {
    margin-top: 30px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
}


.triangle {
    margin-top: 30px;
    padding: 5px 10px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}

.triangle i {
    margin-top: 30px;
    margin-left: 200px;
}

.triangle i:hover {
    color: red;
}

.triangle h2 {
    margin-top: 20px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}


.triangle h3 {
    margin-top: 20px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #2F3035;
}

.triangle img {
    margin-left: 50px;
}

.triangle button {
    margin-top: 30px;
    background: #1C62CD;
    border: none;
    padding: 5px 10px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.triangle h4 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
}

.triangle div {
    display: flex;
}

.section_five {
    margin-top: 100px;
}

.phone {
    background: #1C62CD;
}

.notes img {
    width: 30%;
}

.skidki {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}

.phone {
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
}

.prosmotor {
    padding: 5px 10px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    color: #2F3035;
    background: #FFFFFF;
    border: none;
}

.eto {
    padding-top: 30px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
}

.five_main {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 50px;

}

.five_main li {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
}

.doctor button {
    padding: 2px 6px;
    border: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #1C62CD;
}



.doctor {
    padding: 10px 30px;
    border: 2px solid #2F3035;
    margin-top: 20px;
}

.doctor h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    margin-top: 10px;
}

.doctor i:hover {
    color: #1C62CD;
}

.doctor h3 {
    margin-top: 10px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.doctor p {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
    text-align: center;
}

.doctor div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*  ---------------------   Footer start  ----------------- */


footer {
    margin-top: 100px;
}


.laptop h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 17px;
    color: #2F3035;
}
.laptop div{
    margin-top: 50px;
}

.laptop button {
    padding: 10px 20px;
    border: none;
}

.email {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    background: #FFFFFF;
}


.sms {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #1C62CD;
}


.informasiya {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #2F3035;
}

.mish{
    font-size: 30px;
    margin-left: 30px;
}
.fa-w{
    margin-left: 20px;
}
.fa-facebook{
    margin-left: 20px;
}
.fa-youtube{
    margin-left: 20px;
}


@media (max-width:575px) {
    .drive {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .drive p {
        margin-top: 10px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
    }

    .icon {
        margin-left: 50px;
    }

    .header_main {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 30px;
    }

    .header_main li {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #2F3035;
    }

    .cards img {
        margin-left: 170px;
    }

    .header {
        margin-top: 30px;
        background-color: 0;
    }

    .card div button {
        padding: 15px 5px;
        margin-top: 20px;
    }

    .card div p {
        margin-top: 20px;
    }

    .card {
        margin-top: 50px;
    }

    .skidki {
        color: #2F3035;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .prosmotor {
        margin-left: 50px;
        margin-top: 20px;
    }

    .notes img {
        margin-left: 50px;
    }
    .informasiya{
        margin-top: 20px;
        text-align: center;
    }
    .laptop h2{
        font-size: 16px;
        text-align: center;
    }
    .laptop div {
        display: grid;
    }
    .mish{
        text-align: center;
    }
    .fa-w{
        padding-top: 20px;
    }
    .fa-facebook{
        padding-top: 20px;
    }
    .fa-youtube{
        padding-top: 20px;
    }
    .fa-instagram{
        padding-top: 20px;
    }
}